* {
    background-color: black;
    color: white;
    font-family: "Helvetica", sans-serif;
}

.centered * {
	margin: 0.2em auto;
	text-align: center;
}

.button-container {
	margin-top: 1.5em;
}

button {
	border: none;
	font-size: 1em;
	text-decoration: underline;
}

button:hover, button:hover span {
	color: #AAAAAA;
}
canvas {
	border-width: 5px;
	border-style: solid;
	border-color: white;
}